<div class="register-form">
  <div class="ui segments">

   <div class="ui segment">
     <h1>კლიენტის რეგისტრაცია</h1>
   </div>

    <div class="ui segment">
      <form [formGroup]="form" class="ui form">
        <div class="ui fields">
          <div class="sixteen wide field">
            <label for="username">სახელი</label>
            <input type="text" id="username" formControlName="name">
            <ng-container *ngIf="get('name').touched">
              <p *ngFor="let error of errors('name')">{{ error }}</p>
            </ng-container>
          </div>
        </div>
        <div class="ui fields">
          <div class="sixteen wide field">
            <label for="surname">გვარი</label>
            <input type="text" id="surname" formControlName="surName">
            <ng-container *ngIf="get('surName').touched">
              <p *ngFor="let error of errors('surName')">{{ error }}</p>
            </ng-container>
          </div>
        </div>
        <div class="ui fields">
          <div class="sixteen wide field">
            <label for="points">Plus ქულები</label>
            <input type="number" id="points" formControlName="points">
            <ng-container *ngIf="get('points').touched">
              <p *ngFor="let error of errors('points')">{{ error }}</p>
            </ng-container>
          </div>
        </div>
          <button class="ui orange button " (click)="createClient()">რეგისტრაცია</button>
      </form>
    </div>
  </div>
</div>
<div class="ui active dimmer" *ngIf="loaderService.isLoading">
  <div class="ui loader"></div>
</div>
